body {
  background: rgb(6, 255, 0);
  background: linear-gradient(
    90deg,
    rgba(6, 255, 0, 1) 0%,
    rgba(116, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 69%
  );
}
.coinContainer {
  margin: 50px auto;
  border: 1px solid silver;
  border-radius: 10px;
  width: fit-content;
  background-color: #f6f6f6;
}

.input {
  width: 300px;
  margin-top: 50px;
  border: 1px solid silver;
  border-radius: 5px;
  height: 20px;
  padding: 5px;
  background-color: #f6f6f6;
  transition: all 0.2s ease;
}

.input:focus {
  outline: none;
  border-color: white;
  background: white;
  box-shadow: rgba(74, 74, 74, 0.24) 0px 3px 8px;
}
